<div class="jumbotron" align="center">
  <h1>Seu Carro Compartilhado</h1>
  <p class="lead">Alugue um carro perto de você de maneira segura, prática e econômica.</p>
  <p><a class="btn btn-lg btn-success" href="https://player.vimeo.com/video/152617122">ASSISTA O VÍDEO</a></p>
</div>

<div class="row marketing" align="center">
  <div class="col-lg-6">
    <div class="well">
      <h2>Condutor</h2>
      <h4>Precisa de um carro econômico, uma minivan para transportar algo pesado ou de um SUV para ir à praia? </h4>
    	<p><a class="btn btn-lg btn-success" href="drivers_info">Saiba Mais</a></p>	        	
    </div>
  </div>
  <div class="col-lg-6">
    <div class="well">
      <h2>Proprietário</h2>
      <h4>Alugue seu carro e ganhe dinheiro extra de forma segura e tranquila! Alugue seu carro com a PegCar</h4>
    	<p><a class="btn btn-lg btn-success" href="owner_info" >Saiba Mais</a></p>
    </div>
  </div>
</div>

