.logo-peg {
	background-image: url(/images/logo.png);
  width: 181px;
  height: 29px;
}
.owner-banner {
	background-image: url(/images/owner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
  display: block;
  height: 400px;
}

.driver-banner {
	background-image: url(/images/driver.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
  display: block;
  height: 400px;
}

.home-banner {
	background-image: url(/images/home.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
  display: block;
  height: 400px;
  color: #FFF;
}

.home-banner h1 {
	margin-top: 80px;
	margin-bottom: 20px;
}
