<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="thumbnail" align="center">
      <div class="driver-banner"></div>
      <div class="caption">
        <h3>Um carro perfeito para cada situação</h3>
        <p>Precisa de um carro econômico para andar na cidade, uma minivan para transportar algo pesado ou de um SUV para ir à praia? Estas e outras opções fazem parte da comunidade Pegcar.</p>
				<a href="https://pegcar.com/cadastro/dados-de-condutor" class="btn btn-success">Quero alugar um carro!</a>
      </div>
    </div>
  </div>
</div>


