<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="thumbnail" align="center">
      <div class="owner-banner"></div>
      <div class="caption">
        <h3>Faça uma renda extra e contribua com a mobilidade urbana</h3>
        <p>O Pegcar é uma plataforma de compartilhamento de carros entre pessoas, que visa rentabilizar seu carro durante o período que ele fica parado na garagem.</p>
				<a href="https://pegcar.com/auth/facebook?path=/cadastro/dados-pessoais&metadata=c" class="btn btn-success">Quero cadastrar meu carro!</a>        
      </div>
    </div>
  </div>
</div>
